body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
img,
form {
  margin 0;
  padding: 0;
  border: 0;
}

body {

  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 200px 600px 150px;
  border: 2px solid yellow;
  grid-template-areas:
    "hd"
    "nav"
    "main"
    "sd"
    "ft";
}

.header {
  grid-area: hd;
  border: 2px solid green;

}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-flexbox {
  display: flex;
  border: 2px solid blue;
  background-color: #151412;
}

.title {
  width: 30%;
  margin-left: 5%;
  text-transform: uppercase;
  color: #c7a17a;
}

.nav {
  grid-area: nav;
  width: 75%;
  text-transform: uppercase;

}

ul li {
  float: right;
  margin-right: 5%;
  padding: px 0 0 0;
  font-size: 18px;
  list-style-type: none;
  color: white;
}

.box {
  border: 1px solid red;
}


.content {
  grid-area: main;
}

.sidebar {
  grid-area: sd;
}

.footer {
  grid-area: ft;
}

/*------------------------------*/
/* medium width screen*/
/*------------------------------*/

@media(min-width:600px) and (max-width:1100) {
  .container {
    display: grid;
    grid-template-columns: 300px 200px;
    grid-template-rows: 300px 100px 600px 150px;
    grid-template-areas: "hd hd hd hd hd hd hd hd"
      "nav nav nav nav nav nav nav nav"
      "main main main main sd sd sd"
      "ft ft ft ft ft ft ft ft";
    border: 2px solid red;
  }
}

/*------------------------------*/
/* large width screen*/
/*------------------------------*/

@media(min-width:1101px) {
  .container {
    display: grid;
    grid-template-columns: 300px 200px;
    grid-template-rows: 300px 100px 600px 150px;
    grid-template-areas: "hd hd hd hd hd hd hd hd"
      "nav nav nav nav nav nav nav nav"
      "main main main main main sd sd sd"
      "ft ft ft ft ft ft ft ft";
    border: 2px solid red;
  }
}