body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
img,
form {
  margin 0;
  padding: 0;
  border: 0;

}

a {
  text-decoration: none;
  color: #111;
}

a:hover {
  color: #c59b9b;
}

body {

  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 700;

}

.container {
  display: grid;
  /*grid-template-columns: 460px;*/
  grid-template-rows: 300px 75px 600px 300px;
  border: 1px solid yellow;

  grid-template-areas:
    "hd"
    "nav"
    "main"
    "ft";
}

.header {
  grid-area: hd;
  background-image: url('/images/coffee.png');
  background-repeat: no-repeat;
  background-position: center;

}

.top-flexbox {
  display: flex;
  flex-direction: column;

}

.title {
  width: 30%;
  margin-left: 5%;
  text-transform: uppercase;
  color: #111;
}

.subtitle {
  width: 60%;
  margin-left: 5%;
  text-align: left;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  background-color: #eeebe1;

}

ul li {
  margin: 10px;
  padding: 0;
  list-style-type: none;
}

.box {
  border: 1px solid red;
}


.content {
  grid-area: main;

}

.content-flexbox {
  display: flex;
  flex-direction: row;
  height: auto;
  align-content: space-between;
}

.content .card {
  flex: 1;
  margin: 10px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;

}

p {
  font-family: sans-serif;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin: 0;
  padding: 0 10px 20px 10px;

}

.content .card .blog-image {

  box-sizing: border-box;
  font-size: 35px;
  font-weight: bold;
  background-color: #000000;
  width: 100px;
  height: 100px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -60px auto 0px auto;
  z-index: 2;
  position: relative;
  box-shadow: inset 0px -10px 8px -8px rgba(0, 0, 0, 0.5);
  background-image: url('/images/coffee.png');

}

.card {
  border: 1px solid red;

}

.button {
  background-color: pink;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin-bottom: 20px;

}

.footer {
  grid-area: ft;
  border 2px solid yellow;
}

/*------------------------------*/
/* larger screens*/
/*------------------------------*/

@media(min-width:600px) {


  .top-flexbox {
    display: flex;
    flex-direction: row;
  }

  .subtitle {
    width: 50%;
    margin-right: 5%;
    text-align: right;
  }

  .nav {
    justify-content: center;
  }

  ul li {
    margin-right: 4%;
  }
}