/*-----------------*/
/*Subscribe*/
/*-----------------*/

.subscribe {
  grid-area: sub;
  background-color: rgb(19, 18, 19);
  color: white;
  text-transform: full-width;
  text-align: center;
}

.form {
  padding: 15px 0 15px 0;
  text-align: center;
}

input[type=text] {
  width: 30%;
  margin: 8px 0;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 200px;
}

.button {
  background: #c7a17a;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px 2px;
}

.button:hover {
  background: #888;
}